<div class="Container">

<div class="d-flex justify-content-center mt-5 h-100">
    <div
      class="d-flex align-items-center align-self-center card p-3 text-center elya-model"
      style="margin-right: 20px"
    >
      <h3 class="title">Business</h3>
      <img
        src="../../../assets/dribbble-02-unscreen.gif"
        width="470"
        alt="Robot Image"
      />
      <button
        class="btn mt-3 px-4"
        type="button"
        style="background-color: #221f22; color: white"
        routerLink="/business"
      >
        Try it
      </button>
  
    </div>
  
    <div
      class="d-flex align-items-center align-self-center card p-3 text-center cookies"
      style="margin-left: 20px"
    >
      <h3 class="title">Personnel Loan</h3>
      <div class="perosphoto">
      <img class="left_image" src="../../../assets/AREmoji_20231102_220351_3.gif" width="350" alt="Robot Image" />
      <img class="right_image"
      src="../../../assets/AREmoji_20231102_213652_3997.gif"
      width="350"
      alt="Robot Image"
    />
</div>
      <button
        class="btn mt-3 px-4"
        type="button"
        style="background-color: #221f22; color: white"
        routerLink="/personnel-loan"
      >
        Try it
      </button>
    </div>
  </div>
  <div class="wave wave1"></div>
  <div class="wave wave2"></div>
  <div class="wave wave3"></div>
  <div class="wave wave4"></div>
</div>
